
<h2 class="title is-1">Hero Form</h2>

<div [hidden]="submitted">
    <form *ngIf="active" (ngSubmit)="onSubmit()"
          #heroForm="ngForm">
        <div class="control">
            <label for="name">Name: </label>
            <input type="text" class="input" required
             [(ngModel)]="model.name"
             ngControl="name" #name="ngForm">
            <div [hidden]="name.valid || name.pristine"
             class="alert">
                Name is required
            </div>
        </div>


        <!--Alternate way of binding events,
            this is replaced by [(ngModel)] -->
        <!--<input type="text" required
             [ngModel]="model.name"
             (ngModelChange)="model.name= $event" >-->


        <div class="control">
            <label for="alterEgo">Alter Ego: </label>
            <input class="input" type="text"
             [(ngModel)]="model.alterEgo"
             ngControl="alterEgo" #alterEgo="ngForm">
        </div>
        <div class="control">
            <label for="power">Hero Power: </label>
            <select class="select is-small" required
             [(ngModel)]="model.power">
                <option *ngFor="let p of powers" [value]="p">{{p}}</option>
            </select>
        </div>
        <div class="control">
            <button type="submit" class="button" 
             [disabled]="!heroForm.form.valid">Submit</button>
            <button type="button" class="button"
             (click)="newHero()">New Hero</button>
        </div>
    </form>
</div>

<div [hidden]="!submitted">
    <div class="columns">
        <h2 class="column">You submitted the following:</h2>
    </div>
    <div class="columns">
        <div class="column is-one-quarter" >Name: </div>
        <div class="column" >{{model.name}}</div>
    </div>
    <div class="columns">
        <div class="column is-one-quarter" >Alter Ego: </div>
        <div class="column" >{{model.alterEgo}}</div>
    </div>
    <div class="columns">
        <div class="column is-one-quarter" >Power: </div>
        <div class="column" >{{model.power}}</div>
    </div>
    <button type="button" class="button"
     (click)="submitted=false">Edit</button>
</div>