
<h1 class="title is-1">{{title}}</h1>

<nav>
    <a class="button" [routerLink]="['/crisis-center']">Crisis Center</a>
    <a class="button" [routerLink]="['/heroes']">Heroes</a>
    <a class="button" [routerLink]="['/login']">Login</a>
    <a class="button" [routerLink]="['/crisis-center/admin']">Crisis Center Admin</a>
</nav>

<!-- Routed views show up here -->
<router-outlet></router-outlet>