:host
  .ng-valid[required]
    border-left 5px solid green
  
  .ng-invalid
    border-left 5px solid red
    
  .alert
    padding 15px
    margin 8px 0
    border 1px solid transparent
    border-radius 4px
    
  .alert-danger
    color red
    background-color grey
    border-color purple
    
  .msg
    color blue
    background-color whitesmoke
    border 1px solid transparent
    border-radius 4px
    margin-bottom 20px
    