@import url('./bulma.min.css')
@import 's-grid-settings'
@import 's-grid-functions'
@import 's-grid-classes'

html, body
    margin: 0
    padding: 0
    width: 100%
    height: 100%
body
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif
    padding: 24px
