<h1>{{title}}</h1>
<h2>My favorite hero is: {{myHero.name}}</h2>
<p>Heroes:</p>
<ul>
    <li *ngFor='let hero of heroes'>
        {{hero.name}}
    </li>
</ul>

<p *ngIf='heroes.length > 3'>There are many heroes!!!!</p>
<button (click)='onClickMe()'>You're Pushing My Buttons!</button>

<my-friends></my-friends>

<click-me></click-me>

<key-up></key-up>

<loop-back></loop-back>

<key-up-2></key-up-2>

<key-up-3></key-up-3>

<little-tour></little-tour>
