<h3 class="subtitle is-3">{{title}}</h3>
<p>{{message}}</p>

<p>
    <button (click)="login()"
        *ngIf="!authService.isLoggedIn">
        Login
    </button>
    <button (click)="logout()"
        *ngIf="authService.isLoggedIn">
        Logout
    </button>
</p>