
<h1 class="title is-1">{{title}}</h1>

<h2 class="subtitle is-3">My favorite hero is: {{myHero.name}}</h2>

<p>Heroes:</p>
<ul>
    <li *ngFor="let hero of heroes">
        {{hero.name}}
    </li>
</ul>

<p *ngIf="heroes.length > 3">There are a buttload of heroes!</p>