/* forms.css */

/* left side bars to indicate whether input is filled
   out correctly or not */
.ng-valid[required] {
    /* Green bar on left side */
    border-left: 5px solid #366D27;
}
.ng-invalid {
    /* Red bar on left side */
    border-left: 5px solid #730B0B;
}

/* Alert box for problem with input field */
.alert {
    background-color: #F9BDBD;
    border: 1px solid #730B0B;
    color: #730B0B;
    font-style: uppercase;
    padding: 2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

/* Change default styling of .select class from Bulma */
.select {
    display: block;
}