/* Global styling */

/* Defaults */
* {
  box-sizing: border-box;
}
html, body { 
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', 'sans-serif';
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: : 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', 'serif';
}

.wrap {
  padding: 24px;
  width: 90%;
  margin: auto;
}