<h1>{{title}}</h1>

<nav style='width: 100%; text-align: center;'>
  <a routerLink='/contact'
     routerLinkActive='active'>
    Contact
  </a> | 
  <a routerLink='/crisis-center'
     routerLinkActive='active'
     [routerLinkActiveOptions]="{ exact: true }">
    Crisis Center
  </a> | 
  <a routerLink='/crisis-center/admin'
     routerLinkActive='active'>
    Admin
  </a> | 
  <a routerLink='/heroes'
     routerLinkActive='active'>
    Heroes
  </a> | 
  <a routerLink='/login'
     routerLinkActive='active'>
    Login
  </a>
</nav>

<router-outlet></router-outlet>