<!-- Template for Dashboard View -->
<h1>Dashboard</h1>
<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">
    <div class="module hero">
      <a>{{hero.name}}</a>
    </div>
  </div>
</div>